@model FarmaciaLab1.Models.cEmpleado

@{
    ViewBag.Title = "MenuBuscar";
}

<h2>Menu Buscar</h2>
<div>
    <h4> @Html.ActionLink("Código", "Buscador")</h4>
</div>
<div>
    <h4>@Html.ActionLink("Nombre", "Index")</h4>
</div>
<div>
    <h4> @Html.ActionLink("Está en la Oficina", "Index")</h4>
</div>
<div>
    <h4> @Html.ActionLink("Horas Trabajadas", "Index")</h4>
</div>