
@{
    ViewBag.Title = "PrincipalM";
}

<h2>Menu Principal</h2>
<div>
   <h4> @Html.ActionLink("Almacenar Informacion de Empleados", "Index")</h4>
</div>
<div>
    <h4> @Html.ActionLink("Simulación", "BuscaIDSimu")</h4>
</div>
<div>
    <h4>  @Html.ActionLink("Busquedas", "MenuBuscar")</h4>
</div>
<div>
    <h4>  @Html.ActionLink("Parqueos", "ParqueoPop")</h4>
</div>

