@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Universidad Rafael Landivar<br />
    Zona 16, Guatemala<br />
    <abbr title="Telefono">P:</abbr>
    2426-2626
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:aedavilag@correo.url.edu.gt">aedavilag@correo.url.edu.gt</a><br />
    <strong>Soporte Oficial:</strong> <a href="mailto:pdiaz@correo.url.edu.gt">pdiaz@correo.url.edu.gt</a>
</address>